$main-color: #5A6ACF;

.sideBarContainer {
	position: fixed;
	left:0;
	right: 0;
	bottom: 0;
	width: 280px;
	height: 100%;	background-color: rgba(133, 147, 237, 0.17);
	margin: 0;
	z-index: 100;
}

.logoBox {
	display: flex;
	margin: 5px 0 100px 48px;
	align-items: center;
}

.serivceName {
	font-size: 20px;
	font-weight: bolder;
	color: $main-color;
	padding-left: 7px;
}

.menuBar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
	width: 220px;
	height: 120px;
}

.menuBox {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 88px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 5px;
	background: none;

	color: #757D8B;
	font-family: NanumSquareRound;
	font-weight:400;
	font-size: 16px;
	line-height: 12px;
	letter-spacing: 0.5px;

	&:hover {
		background: rgba(112, 127, 221, 0.1);
		color: #5A6ACF;
	}
}

.menuIcon {
	margin-left: 20px;
	margin-right: 20px;
}

