$unclicked-bg-color: #F1F3F5;
$clicked-bg-color: rgba(133, 147, 237, 0.17);
$unclicked-font-color: #757D8B;
$clicked-font-color: #5A6ACF;

.button {
	width: 80px;
	padding: 5px 0;
	border: none;
	border-radius: 5px;
	background: $unclicked-bg-color;
	color: $unclicked-font-color;
	margin: 0 7px;
}

