@font-face {
  font-family: 'NanumSquareRound';
  font-style: normal;
  src: url('/fonts/NanumSquareRound-Medium.ttf') format('ttf');
}

body {
  padding: 0;
  padding-top: 80px;
  margin: 0;
  font-family: NanumSquareRound;
  font-weight: 500;
}

