// .container {
// 	display: flex;
// 	justify-content: space-evenly;
// }

.body {
	padding-left: 320px; // sideBar의 width 이상
}

// .testdiv {
// 	width: 200px;
// 	height: 700px;
// 	background-color: red;
// }

.titleBox {
	margin: 23px 0;
}

.pageTitle {
	margin: 0;
	font-weight: 500;
}

.pageDescription {
	font-size: small;
	color: #808080;
}

