$gray-color: #808080;

.body {
	margin-left: 320px; // sideBar의 width 이상
	margin-right: 40px;
}

.titleBox {
	margin: 23px 0;
}

.pageTitle {
	margin: 0;
	font-weight: 500;
	white-space: nowrap;
}

.pageDescription {
	font-size: small;
	color: $gray-color;
	white-space: nowrap;
}

.date {
	font-size: small;
	color: $gray-color;
	margin-top: 50px;
	margin-bottom: 35px;
}

.optionBar {
	display: flex;
	align-items: center;
}

.period {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.product {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.species {
	display: flex;
	align-items: center;
}

.optionName {
	white-space: nowrap;
	margin-right: 30px;
}
